<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" href="/burger/public/assets/img/burger-icon.jpg">

    <title>Eat-Da-Burger</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="/burger/public/assets/css/burger_style.css" rel="stylesheet">
  
  </head>
  
  <body>

      <img src="/burger/public/assets/img/burger.png" width="400px" id="amazing_burger">
      
      <div>

      {{{ body }}}

      </div>
      <hr>
     
      <footer class="centerFooter">
        <div class="container">
          <p>copyright Eat-Da-Burger 2018</p>
        </div>
      </footer>

  </body>
</html>